.footer {
  align-items: center;
  background-color: #f0f0f0;
  flex-shrink: 0;
  height: 60px;
  justify-content: center;
  position: fixed;
}

.container-footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
